<h1>Add Ingredient to <%= @plate.name %></h1>

<%= form_for [@plate, @ing] do |f|%>

<%= f.label :name%>
<%= f.text_field :name, required: true, placeholder: "Name", autofocus: true%>

<%= f.label :amount%>
<%= f.number_field :amount, required: true, placeholder: 1%>

<%= f.submit %>
<%end%>